@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Cairo:wght@300;500;600;700;800;900&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Karma:wght@300;400;500;600;700&family=Major+Mono+Display&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&family=PT+Mono&display=swap");

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 11em;
}

.main__section {
  background: #f1eee9;
  border: none;
  opacity: 60%;
  width: 640px;
  height: 150px;
}

.main__title {
  font-size: 40px;
  color: #000;
  font-weight: 500;
  background: none;
  text-align: center;
  font-family: "Inknut Antiqua", serif;
  letter-spacing: 3px;
}

.links {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  margin-bottom: 4em;
}
